.App {
  text-align: center;
  margin-top: 2%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.note-list {
  border-bottom: 1px dotted #d28080;
}

.note-list h1, .note-list p {
  text-align: left;
}
.note-list h1 {
  font-size: 1.25em;
}
.note-list p {
  font-size: 0.9em;
}
.note-list-container {
  overflow-y: auto;
  height: 640px;
  border-left: 1px solid green;
  margin-top: 0.35%;
}
.note-detail {
  margin-left: 10%;
  margin-top: 3%;
}
.note-body {
  margin-top: 5%;
  margin-bottom: 7%;
}
.note-tags-label {
  margin-bottom: 0.5%;
  font-weight: bold;
}
#note-tags-body {
  font-size: .7em;
  font-style: italic;
  margin-left: 1.5%;
}
#note-body-buttons {
  margin-top: 10%;
}
.btn-note {
  width: 80px;
  margin-right: 2%;
}




